.container {
  border: 1px solid black;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-item: center;
  align-items: center;
  gap: 30px;
  padding: 15px;
  position: relative;
}

.title {
  font-size: 20px;
  color: red;
  position: absolute;
  top: -30px;
}
